html
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(185, 75%, 39%);
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    /* background-image: url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat; */
}

h1
{
    font-family: 'Kumbh Sans';
    font-size: 1.25em;
    color: hsl(229, 23%, 23%);
}

h2
{
    font-family: 'Kumbh Sans';
    font-size: 1.25em;
    margin: 0; 
    color: hsl(229, 23%, 23%);
}

.card
{
    text-align: center;
    background-color: #fff;
    width: 90%;
    height: 60%;
    margin-right: auto;
    margin-left: auto; 
    border-radius: 1rem;
    position: relative;
    /* background-image: url(images/bg-pattern-card.svg);
    background-repeat: no-repeat; */
}

.Pattern
{
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    left: 0;
} 

.Ppic
{
    border-radius: 50%;
    border: 5px solid #fff;
    margin-top: 5.5em; 
}

.info
{
    padding: 1.5em 0;
}

.Age
{
    font-weight: 400;
}

.City 
{
    padding-bottom: 2em;
    border-bottom: .05rem solid rgba(0, 0, 0, .1);
}

.City, .Age
{
    font-family: 'Kumbh Sans'; 
    color: hsl(0, 0%, 59%);
    
}

.columns 
{
    margin-left: auto;
    margin-right: auto; 
    max-width: 16em; 
    columns: 3;
    padding-top: 1.5em;
} 

.Followers
{
    margin: 0;
}

.stats
{
    font-family: 'Kumbh Sans';
    font-size: .6em;
    color:hsl(0, 0%, 59%);
}

.attribution 
{ 
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 15px;
    font-size: 11px; 
    text-align: center;
}

.attribution a 
{ 
    color: hsl(228, 45%, 44%); 
}
